<!-- <a
  href=""
  target="_blank"
  class="flex flex-col items-center mx-auto max-w-lg p-3 rounded-lg shadow
    bg-coopmaths-canvas-dark border border-gray-200 hover:bg-gray-200
    dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-coopmaths-struct dark:text-white">
    
  </h5>
  <div class="flex space-x-2">
    <img
      src=""
      alt=""
      class="max-w-80 mb-4 flex"
    />
  </div>
  <p class="text-center font-normal text-gray-700 dark:text-gray-400">
    
  </p>
</a> -->
