// Keep in sync with tailwind.config.js colors
$topmaths-default: #0284c7;
$topmaths-light: #0284c7;
$topmaths-filter: invert(51%) sepia(74%) saturate(6105%) hue-rotate(179deg) brightness(92%) contrast(98%);
$topmaths-canvas-default: #ffffff;
$topmaths-canvas-dark: #f6f6f6;
$topmaths-corpus-default: #1d1d1d;
$topmaths-corpus-light: #45505b;

$topmathsdark-default: #0ea5e9;
$topmathsdark-light: #0ea5e9;
$topmathsdark-filter: invert(53%) sepia(84%) saturate(1728%) hue-rotate(166deg) brightness(92%) contrast(99%);
$topmathsdark-canvas-default: #18181b;
$topmathsdark-canvas-dark: #1f1f24;
$topmathsdark-corpus-default: #b0b0b0;
$topmathsdark-corpus-light: #c8c8c8;

$is-default: transparent;
$is-sponsor-default: #ea4aaa;
$is-sponsor-light: #fffafa;
$is-sponsor-filter: invert(41%) sepia(47%) saturate(2515%) hue-rotate(298deg) brightness(97%) contrast(88%);

$is-fuchsia-default: #c75ad5;
$is-fuchsia-light: #c75ad5;
$is-fuchsia-filter: invert(66%) sepia(95%) saturate(7499%) hue-rotate(280deg) brightness(89%) contrast(100%);

$is-green-default: #16A34A;
$is-green-light: #16A34A;
$is-green-filter: invert(43%) sepia(81%) saturate(478%) hue-rotate(89deg) brightness(98%) contrast(91%);

$is-link-default: #485fc7;
$is-link-light: #eff1fa;
$is-link-filter: invert(29%) sepia(98%) saturate(796%) hue-rotate(203deg) brightness(101%) contrast(88%);

$is-info-default: #3e8ed0;
$is-info-light: #e7f4fc;
$is-info-filter: invert(49%) sepia(45%) saturate(746%) hue-rotate(165deg) brightness(94%) contrast(83%);
$is-info-darker-default: #4175d2;
$is-info-darker-light: #e93fa5;
$is-info-darker-filter: invert(42%) sepia(53%) saturate(1203%) hue-rotate(190deg) brightness(88%) contrast(84%);

$is-warning-default: #ffe08a;
$is-warning-light: #fff3d1;
$is-warning-filter: invert(73%) sepia(96%) saturate(209%) hue-rotate(346deg) brightness(104%) contrast(103%);

$is-danger-default: #f14668;
$is-danger-light: #fcd4dc;
$is-danger-filter: invert(44%) sepia(73%) saturate(4057%) hue-rotate(324deg) brightness(98%) contrast(92%);

$is-purple-default: #9333ea;
$is-purple-light: #faf5ff;
$is-purple-filter: invert(22%) sepia(70%) saturate(3716%) hue-rotate(264deg) brightness(94%) contrast(95%);

$is-tout-default: #feb60a;
$is-tout-light: #fffbeb;
$is-tout-filter: invert(82%) sepia(18%) saturate(7498%) hue-rotate(354deg) brightness(103%) contrast(99%);
// end of sync

$is-6e-default: #28a745;
$is-6e-light: #effaf3;
$is-6e-filter: invert(44%) sepia(99%) saturate(384%) hue-rotate(81deg) brightness(99%) contrast(87%);

$is-5e-default: #4e8ef6;
$is-5e-light: #f1f6ff;
$is-5e-filter: invert(68%) sepia(73%) saturate(5352%) hue-rotate(199deg) brightness(102%) contrast(93%);

$is-4e-default: #9f64ff;
$is-4e-light: #f7f1ff;
$is-4e-filter: invert(45%) sepia(23%) saturate(5400%) hue-rotate(235deg) brightness(100%) contrast(102%);

$is-3e-default: #da5e75;
$is-3e-light: #fbf3f4;
$is-3e-filter: invert(48%) sepia(66%) saturate(683%) hue-rotate(303deg) brightness(92%) contrast(84%);

$is-tout-default: #feb60a;
$is-tout-light: #fffbeb;
$is-tout-filter: invert(79%) sepia(13%) saturate(6943%) hue-rotate(354deg) brightness(102%) contrast(99%);

$is-coopmaths-default: #f15929;
$is-coopmaths-light: #f15929;
$is-coopmaths-filter: invert(54%) sepia(65%) saturate(5242%) hue-rotate(346deg) brightness(98%) contrast(92%);
