@import './tailwind-colors.scss';

$white-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

.button {
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin interactive($main-color, $dark-color, $filter, $dark-filter: $filter) {
  color: $main-color;
  .is-icon {
    filter: $filter;
  }
  .dark & {
    color: $dark-color;
    .is-icon {
      filter: $dark-filter;
    }
    &:hover,
    &:focus {
      filter: drop-shadow(0 0 0.7rem $dark-color);
    }
  }
}

@mixin theme-style($class-name, $main-color, $light-color, $filter, $dark-color: $main-color) {
  $main-color-transparent: mix(rgba($main-color, 0), $main-color, 85%);
  $dark-color-transparent: mix(rgba($dark-color, 0), $dark-color, 85%);
  .#{$class-name} {
    border-color: $main-color;
    .dark & {
      border-color: $dark-color;
    }
    .is-interactive,
    &.is-interactive {
      @include interactive($main-color, $dark-color, $filter);
    }
    .title {
      color: white;
      background-color: $main-color;
      font-weight: 600;
      padding: 1rem 1rem 0.5rem;
      .is-interactive {
        @include interactive(white, $dark-color, $white-filter, $filter);
      }
      .dark & {
        color: $dark-color;
        background-color: $dark-color-transparent;
      }
    }
    .subtitle {
      color: white;
      background-color: $main-color;
      font-weight: 550;
      padding: 0.5rem 1rem;
      .is-interactive {
        @include interactive(white, $dark-color, $white-filter, $filter);
      }
      .dark & {
        color: $dark-color;
        background: linear-gradient(to top, $topmathsdark-canvas-default -40%, $dark-color-transparent 100%);
      }
    }
    .tooltiptext {
      color: $main-color;
      background-color: $light-color;
      border: 1px solid $main-color;
      .dark & {
        color: $dark-color;
        background-color: $topmathsdark-canvas-default;
        border: 1px solid $dark-color;
      }
    }
    &.grade-container {
      background-color: $light-color;
      .dark & {
        background-color: $topmathsdark-canvas-default;
        border: 1px solid $dark-color;
      }
    }
    &.button {
      color: $main-color;
      &:focus,
      &:hover,
      &.is-active {
        color: white;
        background-color: $main-color;
        .dark & {
          color: $dark-color;
          border-color: $dark-color;
          background-color: $topmathsdark-canvas-default;
          text-shadow: 0 0 0.7rem $dark-color;
          filter: drop-shadow(0 0 0.15em $dark-color) drop-shadow(0 0 0.3em $dark-color);
        }
      }
      &.is-light {
        background-color: $light-color;
        &:focus,
        &:hover,
        &.is-active {
          background-color: $main-color;
        }
        .dark & {
          background-color: $topmathsdark-canvas-default;
        }
      }
      img {
        filter: $filter;
      }
      &.is-active img {
        filter: $white-filter;
        .dark & {
          filter: $filter drop-shadow(0 0 0.4em $main-color);
        }
      }
    }
  }
}

// Keep $class-name in sync with src/topmaths/types/grade.ts StringGrade
// Keep $main-color in sync with index.html .spinner div:nth-child()
@include theme-style('is-6e', $is-6e-default, $is-6e-light, $is-6e-filter);
@include theme-style('is-5e', $is-5e-default, $is-5e-light, $is-5e-filter);
@include theme-style('is-4e', $is-4e-default, $is-4e-light, $is-4e-filter);
@include theme-style('is-3e', $is-3e-default, $is-3e-light, $is-3e-filter);
@include theme-style('is-tout', $is-tout-default, $is-tout-light, $is-tout-filter);
// end of sync

// Keep $class-name in sync src/topmaths/types/color.ts ButtonColor
@include theme-style('is-topmaths', $topmaths-default, $topmaths-light, $topmaths-filter, $topmathsdark-default);
@include theme-style('is-sponsor', $is-sponsor-default, $is-sponsor-light, $is-sponsor-filter);
@include theme-style('is-fuchsia', $is-fuchsia-default, $is-fuchsia-light, $is-fuchsia-filter);
@include theme-style('is-green', $is-green-default, $is-green-light, $is-green-filter);
@include theme-style('is-link', $is-link-default, $is-link-light, $is-link-filter);
@include theme-style('is-info', $is-info-default, $is-info-light, $is-info-filter);
@include theme-style('is-warning', $is-warning-default, $is-warning-light, $is-warning-filter);
@include theme-style('is-danger', $is-danger-default, $is-danger-light, $is-danger-filter);
@include theme-style('is-purple', $is-purple-default, $is-purple-light, $is-purple-filter);
@include theme-style('is-info-darker', $is-info-darker-default, $is-info-darker-default, $is-info-darker-filter);
@include theme-style('is-coopmaths', $is-coopmaths-default, $is-coopmaths-light, $is-coopmaths-filter);
// end of sync
