@import './themes.scss';

.is-16by9 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media print {
  .noprint,
  .noprint * {
    display: none !important;
    padding: 0;
    margin: 0;
  }
  html, body {
    padding: 0;
    margin: 0;
  }
}
